# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 77c1bfa1eb5e34d4d59a44280d5145abd0cf71b94add986588e4e1acc274b35b558f43cd595c69d16336151a84cdbea60a828c82e24f700eb6a6660bd83fcd18

test:
  secret_key_base: c40db51ca8b70f9765abbaaed32111fbe41ea1967baefe607e72fac301525ac9d293327a954ec5a7ce4fb95496a1bcfc3fc06cd77ed6f7829a5a245d628f24dc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
